*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

:root{
    --blanche: #fff;
    --Noir: #222;
    --primaire: #007bc4;
    --gris: #888;
}

header{
    width: 100vw;
    z-index: 99;
    position: sticky;
    top: 0;
    overflow: hidden;

}

.flashInfo{
    background-color: #C69C6C;
    color: white;
    display: flex;
    overflow: hidden;
}

.flashTitre{
    background-color: red;
    display: inline-block;

    text-align: center;
    align-content: center;
    font-weight: 800;
    z-index: 1;
    overflow: hidden;
}

.information{
    align-content: center;
    padding-left: 5px;
    animation: flashinfo 60s infinite linear;
    padding: 5px;
}

@keyframes flashinfo{
    0%{
        transform: translate3d(100%,0,0);
    }

    100%{
        transform: translate3d(-100%,0,0);
    }
}

#barreMenu{
    display: flex;
    align-items: center;
    background-color: #08243A;
    gap: 5px;
    padding: 2px 10px;
    box-shadow: 0 0 4px #101923;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo_tiaha{
    width: 5vw;
}

.logo_tiaha img{
    width: 50px;
    border-radius: 50%;
}

.menu{
    width: 65vw;
    flex-wrap: nowrap;
}

.lienNavigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: nowrap;
    width: 65vw;
}

.lienNavigation > li > a{
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 20px;
    font-size: 1rem;
}

.lienNavigation a:link{
    color: white;
}

.lienNavigation a:visited{
    color: white;
}

.lienNavigation > li > a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    font-weight: 400;
    border-bottom: 2px solid white;
}

.sousMenu{
    position: relative;
    z-index: 2;
}


.menuDecouvertes{
    font-size: 1rem;
    list-style: none;
    background-color: white;
    position: absolute;
    top: 27px;
    display: none;

}

.sousMenu:hover .menuDecouvertes{
    display: block;
    width: 250px;
}




.menuDecouvertes li{
    border-bottom: 1px solid #356BB3;
}

.menuDecouvertes li:hover{
    color: white;
    background-color: #356BB3;
    border: 2px solid white;
    transform: scale(1.1);
    border-radius: 25px;
}

.menuDecouvertes li:hover a{
    color: white;

}


.menuDecouvertes a{
    text-decoration: none;
    line-height: 1.6em;
    color: white;
    padding: 10px;
    font-weight: 400;
}

.menuDecouvertes a:link{
    text-decoration: none;
    line-height: 1.6em;
    color: black;
}

.menuDecouvertes a:visited{
    text-decoration: none;
    line-height: 1.6em;
    color: black;
}

.reseauSocio{
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.reseauSocio img{
    width: 25px;
    padding: 0;
    text-align: center;
    filter: drop-shadow(0 0 1px white) ;
}

.reseauSocio img:hover{
    transform: scale(1.3);
}

.search{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.iconeSearch{
    position: relative;
    background-color: #356BB3;
    height: 18px;
    left: 20px;
}

.iconeSearch img{
    width: 20px;
    cursor: pointer;
}

.search ::placeholder{
    padding-left: 20px;
    opacity: 0.4;
}

.container{
    position: relative;
    top: 0;
    width: 100vw;
}

.audio{
    text-align: center;

}

.audio audio{
    width: 100vw;
    height: 25px;
}

.imageAccueil{
    width: 100vw;
    background-color: #08243A;
    height: 50vh;
    position: relative;
}

.imageAccueil img{
    height: 50vh;
    width: 100vw;
    object-fit: cover;
}

.imagePrincipale{
    position: absolute;
    display: flex;
    top: 60px;

}

.chef{
    z-index: 2;
    text-align: center;
    margin: auto;
    width: 30vw;
    height: 40vh;

    overflow: hidden;
}

.chef img{
/*     filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); */
    height: 50vh;

}

.titre{
    align-items: center;
    color: white;
    height: inherit;
    align-content: center;
    width: 70vw;
    line-height: 2.5rem;
    text-align: center;
    font-family: 'poppins';
}


.akparo{
    font-family: 'poppins';
    font-size: 2.5em;
}

.slogan{
    font-size: 1.5em;
}

.tiaha{
    font-family: 'Querich';
    font-size: 3em;
    color: #C69C6C;
    filter: drop-shadow(0 0 2px #08243A);
}


.apropos{
    margin: 50px 0 30px 0;
    text-align: center;
    color: #888;
    font-size: 2em;
    width: 100vw;
}

.apropos span {
    color: #356BB3;
}

.infovillage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    font-weight: 400;
    width: 1100px;
    background-color: rgba(255, 255, 255);
    color: black;
    margin: auto;
    margin-bottom: 30px;

    font-size: 0.8em;
}

.infovillage img{
    width: 70px;
    text-align: center;
    border-radius: 50%;
    border: 6px solid #356BB3;
    padding: 5px;
    margin: 10px 0;
}

.infovillage .info{
    margin: 5px 30px;  
    padding: 10px;
    line-height: 1.5em;
}

.infovillage .info:hover{
    transform: scale(1.1);  
    box-shadow: 0 0 6px #888;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.infoTiaha{
    background-color: #F2F8FC;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.decouvrirTiaha{
    background-color: #356BB3;
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 100vw;
}
.decouvrirTiaha h2{
    padding: 10px 0;
    color: black;
}

.vueTiaha{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: nowrap;

}

.vueTiaha .containDecouvrir{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: justify;
    line-height: 1.3em;
    padding: 10px;
    width: inherit;

}

.vueTiaha img{
    width: 350px;
    border-radius: 20px;
    margin-left: 30px;
    border: 10px solid white;
}

.vueTiaha img:hover{
transform: scale(1.1);
transition: all 1S ease-in;
}

.couleurDecouvrir:hover{
    color: black;

    background-color: white;
    transition: all 1s ease-in ;
}

.couleurDecouvrir{
    width: 220px;
 
    font-size: 17px;
    border: 2px solid white;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px white;

    border-radius: 25px;

}






.imageTiaha{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
}

.imageTiaha img{
    width: 290px;
}

.imageTexte{

    overflow: hidden;
    text-align: center;
    background-color: white;
    width: 290px;
    margin: 10px;
}

.imageTexte img:hover{
    filter: grayscale(100%) ;
    transform: scale(1.1);
    transition: all 1s ease-in;
}

.imageTexte .texte{
    height: 50px;

    font-weight: bold;
    text-align: center;
    padding: 10px;
}








.plats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    text-align: center;
    background-color: #F2F8FC;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.mets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #ccc;
}


.imagePlat{
    width: 300px;
    height: 300px;
}


.imagePlat img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 25%;
    border: 4px solid white;
    background-color: white;
}


.ingredient{
    text-align: justify;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 2px #ccc;
}

.ingredient .nom{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    width: 300px;
    background-color: #356BB3;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
}



.imagePlat img:hover{
    transform: scale(1.3);
    transition: all 1s ease-in-out;

}





.evenementielsCulturels{
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100vw;
    background-color: #F2F8FC; ;
    padding: 30px;

}

.evenementielsCulturels img{
    width: 230px;

}

.fete{
    box-shadow: 0 0 2px #ccc;
    margin: 0 5px;
    overflow: hidden;

}


.evenementielsCulturels img:hover{
    transform: scale(1.1);
    transition: all 1s ease-in;

}

.evenementielsCulturels .fete .texte{
    background-color: white;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.evenementielsCulturels .fete .texte:hover{
    background-color: #356BB3;
    color: white;
    transition: background-color 1s ease-in;
}


.carteTiaha{
    text-align: center;
    border-radius: 20px;
    align-content: center;
    margin-bottom: 150px;
    width: 100vw;
}

.carteTiaha img{
    width: 100%;


}







.footer{
    background-color: var(--Noir);
    line-height: 1.5rem;

    padding: 20px 50px 10px 50px;
    width: 100vw;
}

.footer span{
    margin-right: 1rem;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--blanche);
}

.footer-center a:link, .footer-center a:visited{
    display: block;
    color: var(--gris);

    transition: 0.6s;
}

.footer-center a{
    text-decoration: none;
}

.footer-center a:hover{
    color: var(--primaire);
}

.footer-center div{

    color: var(--gris);
}

.footer-center h3{

    font-weight: 400;
    margin-bottom: 1rem;
}

.copyright{
    color: var(--gris);

    font-weight: 400;
    text-align: center;
    padding: 2rem 0 1rem;

}

.copyright a:hover{
    color: var(--primaire);
}